src/main/mule/fdx-core-router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

	<apikit:config name="fdx-core-config" api="api/ob-fdx-core-api.yaml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

	<flow name="fdx-core-main">
		<http:listener doc:name="FDX Core Listener" config-ref="HTTP_Listener_config" path="/fdx/v6/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="fdx-core-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="400">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "400", message: "Bad Request" }]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="404">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "404", message: "Resource not found" }]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="405">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "405", message: "Method not allowed" }]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="406">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "406", message: "Not acceptable" }]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="415">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "415", message: "Unsupported media type" }]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="501">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ code: "501", message: "Not implemented" }]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<!-- searchForAccounts: GET /accounts -->
	<flow name="get:\accounts:fdx-core-config">
		<logger level="INFO" doc:name="Log searchForAccounts" message="APIKit → searchForAccounts" />
		<flow-ref doc:name="Delegate to get-accounts-flow" name="get-accounts-flow" />
	</flow>

	<!-- getAccount: GET /accounts/{accountId} -->
	<flow name="get:\accounts\(accountId):fdx-core-config">
		<logger level="INFO" doc:name="Log getAccount" message="APIKit → getAccount [#[attributes.uriParams.accountId]]" />
		<flow-ref doc:name="Delegate to get-accounts-flow" name="get-accounts-flow" />
	</flow>

	<!-- searchForAccountTransactions: GET /accounts/{accountId}/transactions -->
	<flow name="get:\accounts\(accountId)\transactions:fdx-core-config">
		<logger level="INFO" doc:name="Log searchForAccountTransactions" message="APIKit → searchForAccountTransactions [#[attributes.uriParams.accountId]]" />
		<flow-ref doc:name="Delegate to get-transactions-flow" name="get-transactions-flow" />
	</flow>

</mule>
