src/main/mule/oauth-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- OAuth Consent Initiation Endpoint -->
    <flow name="oauth-connect-flow" doc:id="oauth-connect-flow">
        <http:listener doc:name="GET /api/auth/connect" 
                       doc:id="oauth-connect-listener" 
                       config-ref="HTTP_Listener_config" 
                       path="/api/auth/connect" 
                       allowedMethods="GET">
            <http:response statusCode="#[attributes.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.headers default {}]]]></http:headers>
            </http:response>
        </http:listener>
        
        <logger level="INFO" doc:name="Log Connect Request" 
                doc:id="log-connect-request" 
                message="OAuth connect request received for bank: #[attributes.queryParams.bank default 'unknown'] with access_types: #[attributes.queryParams.access_types default 'none']. Full URL: #[attributes.requestUri]" 
                category="OAuth.Connect"/>
        
        <!-- Validate required parameters -->
        <choice doc:name="Validate Parameters" doc:id="validate-parameters">
            <when expression="#[isEmpty(attributes.queryParams.bank) or isEmpty(attributes.queryParams.access_types)]">
                <logger level="ERROR" doc:name="Log Missing Parameters" 
                        doc:id="log-missing-params" 
                        message="Missing required parameters - bank: #[attributes.queryParams.bank], access_types: #[attributes.queryParams.access_types]" 
                        category="OAuth.Error"/>
                <ee:transform doc:name="Set Missing Parameters Error Response" doc:id="set-missing-params-error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "missing_parameters", 
    "error_description": "Both bank and access_types parameters are required"
}]]></ee:set-payload>
                        <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
{
    statusCode: 400,
    headers: {
        "Content-Type": "application/json"
    }
}]]></ee:set-attributes>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <!-- Validate FDX scopes -->
                <ee:transform doc:name="Validate and Transform Scopes" doc:id="validate-transform-scopes">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var requestedScopes = (attributes.queryParams.access_types splitBy ",") map trim($)
var allowedScopes = ["ACCOUNT_BASIC", "TRANSACTIONS", "CUSTOMER_CONTACT"]
var invalidScopes = requestedScopes filter (!contains(allowedScopes, $))
---
{
    requestedScopes: requestedScopes,
    allowedScopes: allowedScopes,
    invalidScopes: invalidScopes,
    isValid: isEmpty(invalidScopes)
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                
                <choice doc:name="Check Scope Validation" doc:id="check-scope-validation">
                    <when expression="#[!payload.isValid]">
                        <ee:transform doc:name="Set Scope Error Response" doc:id="set-scope-error">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "invalid_scope",
    "error_description": "Invalid FDX scopes requested: " ++ (payload.invalidScopes joinBy ","),
    "allowed_scopes": ["ACCOUNT_BASIC", "TRANSACTIONS", "CUSTOMER_CONTACT"]
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        <ee:transform doc:name="Set Scope Error Response Headers" doc:id="set-scope-error-headers">
                            <ee:message>
                                <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
{
    statusCode: 400,
    headers: {
        "Content-Type": "application/json"
    }
}]]></ee:set-attributes>
                            </ee:message>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <!-- Construct authorization URL; state is opaque UUID — consent metadata stored in OS before Auth0 -->
                        <ee:transform doc:name="Build Authorization URL" doc:id="build-auth-url">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/java
import * from dw::core::URL
fun bankBrandKey(b) = do {
    var u = upper(trim(b as String default ""))
    ---
    if (u == "RBC" or contains(u, "ROYAL")) "rbc"
    else if (u == "BMO" or contains(u, "BANK OF MONTREAL") or contains(u, "BMO")) "bmo"
    else if (u == "TD" or contains(u, "TD") or endsWith(u, "TD") or startsWith(u, "TD")) "td"
    else if (contains(u, "SCOTIA") or u == "SCO") "scotia"
    else if (u == "CIBC" or startsWith(u, "CIB")) "cibc"
    else "default"
}
fun bankDisplayName(b, k) =
    if (k == "rbc") "Royal Bank of Canada"
    else if (k == "bmo") "BMO"
    else if (k == "td") "TD Canada Trust"
    else if (k == "scotia") "Scotiabank"
    else if (k == "cibc") "CIBC"
    else b default "External bank"
fun fdxHuman(code) =
    if (upper(code) == "ACCOUNT_BASIC") "Account balances"
    else if (upper(code) == "TRANSACTIONS") "Transactions"
    else if (upper(code) == "CUSTOMER_CONTACT") "Contact details"
    else code
var bank = trim(attributes.queryParams.bank default "Bank")
var accessTypesParam = trim(attributes.queryParams.access_types default "")
var requestedTech = (accessTypesParam splitBy ",") map trim($)
var brand = bankBrandKey(bank)
var scopesHuman = requestedTech map fdxHuman($)
/* Composite state echoed by Auth0: bank __OB__ scopes __OB__ uuid — pending OS key uses uuid only; callback can fall back if OS miss */
var uuidPart = uuid()
var compositeState = bank ++ "__OB__" ++ accessTypesParam ++ "__OB__" ++ uuidPart
var pendingOsKey = "ob_oauth_pending__" ++ uuidPart
var baseScopes = "openid profile email"
var fdxScopes = requestedTech joinBy " "
var allScopes = baseScopes ++ " " ++ fdxScopes
var authParams = {
    response_type: "code",
    client_id: "${oauth.auth0.client_id}",
    redirect_uri: "${oauth.auth0.redirect_uri}",
    scope: allScopes,
    audience: "${oauth.auth0.audience}",
    prompt: "consent",
    state: compositeState
}
var queryString = (authParams pluck ((value, key) -> "$(key)=" ++ encodeURIComponent(value as String))) joinBy "&"
---
{
    authorizationUrl: "${oauth.auth0.authorize_endpoint}" ++ "?" ++ queryString,
    state: compositeState,
    pendingOsKey: pendingOsKey,
    pendingConsent: {
        bankName: bank,
        bankDisplayName: bankDisplayName(bank, brand),
        bankBrand: brand,
        scopesTechnical: requestedTech,
        scopesHuman: scopesHuman,
        accessTypesCsv: accessTypesParam,
        createdAt: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"}
    }
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        
                        <os:store doc:name="Store pending consent metadata" doc:id="store-pending-consent" objectStore="oauth_object_store" key="#[payload.pendingOsKey]">
                            <os:value><![CDATA[#[payload.pendingConsent]]]></os:value>
                        </os:store>
                        
                        <logger level="INFO" doc:name="Log Authorization URL" 
                                doc:id="log-auth-url" 
                                message="Built authorization URL: #[payload.authorizationUrl]. State: #[payload.state]. Pending consent stored at #[payload.pendingOsKey]." 
                                category="OAuth.Redirect"/>
                        
                        <ee:transform doc:name="Set HTTP Redirect Response" doc:id="set-http-redirect-response">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
""]]></ee:set-payload>
                                <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
{
    statusCode: 302,
    headers: {
        "Location": payload.authorizationUrl,
        "Cache-Control": "no-cache, no-store, must-revalidate",
        "Pragma": "no-cache",
        "Expires": "0"
    }
}]]></ee:set-attributes>
                            </ee:message>
                        </ee:transform>
                        
                        <logger level="INFO" doc:name="Log HTTP Redirect" 
                                doc:id="log-http-redirect" 
                                message="Sending HTTP 302 redirect to: #[attributes.headers.Location]" 
                                category="OAuth.Response"/>
                    </otherwise>
                </choice>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="oauth-connect-error-handler" type="ANY">
                <logger level="ERROR" doc:name="Log Error" doc:id="log-connect-error" message="Error in OAuth connect flow: #[error.description]. Error type: #[error.errorType]. Detailed message: #[error.detailedDescription]" category="OAuth.Error"/>
                <ee:transform doc:name="Set Internal Error Response" doc:id="set-internal-error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "internal_error", 
    "error_description": "An internal error occurred during authorization initiation",
    "details": error.description default "Unknown error"
}]]></ee:set-payload>
                        <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
{
    statusCode: 500,
    headers: {
        "Content-Type": "application/json"
    }
}]]></ee:set-attributes>
                    </ee:message>
                </ee:transform>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- OAuth Callback and Token Exchange Endpoint -->
    <flow name="oauth-callback-flow" doc:id="oauth-callback-flow">
        <http:listener doc:name="GET /callback" 
                       doc:id="oauth-callback-listener" 
                       config-ref="HTTP_Listener_config" 
                       path="/callback" 
                       allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[if(vars.redirectLocation != null) {"Location": vars.redirectLocation} else {}]]]></http:headers>
            </http:response>
        </http:listener>
        
        <logger level="INFO" doc:name="Log Callback Request" 
                doc:id="log-callback-request" 
                message="OAuth callback received with code parameter present: #[!isEmpty(attributes.queryParams.code)]" 
                category="OAuth.Callback"/>
        
        <!-- Validate authorization code parameter -->
        <choice doc:name="Validate Authorization Code" doc:id="validate-auth-code">
            <when expression="#[isEmpty(attributes.queryParams.code)]">
                <ee:transform doc:name="Set Missing Code Error" doc:id="set-missing-code-error">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    redirectLocation: "${frontend.base_url}" ++ "${frontend.error_redirect_path}" ++ "&error=missing_code",
    httpStatus: 302
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable value="#[payload.redirectLocation]" variableName="redirectLocation" doc:name="Set Error Redirect" doc:id="set-error-redirect-missing-code"/>
                <set-variable value="#[payload.httpStatus]" variableName="httpStatus" doc:name="Set 302 Status" doc:id="set-302-status-error"/>
                <set-payload value="" doc:name="Clear Payload" doc:id="clear-payload-error"/>
            </when>
            <otherwise>
                <!-- Exchange authorization code for tokens -->
                <ee:transform doc:name="Prepare Token Request" doc:id="prepare-token-request">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/x-www-form-urlencoded
---
{
    grant_type: "authorization_code",
    client_id: "${oauth.auth0.client_id}",
    client_secret: "${oauth.auth0.client_secret}",
    code: attributes.queryParams.code,
    redirect_uri: "${oauth.auth0.redirect_uri}"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                
                <logger level="DEBUG" doc:name="Log Token Request" 
                        doc:id="log-token-request" 
                        message="Making token exchange request to Auth0" 
                        category="OAuth.TokenExchange"/>
                
                <!-- Make token exchange request to Auth0 -->
                <http:request method="POST" 
                              doc:name="Exchange Code for Tokens" 
                              doc:id="token-exchange-request" 
                              config-ref="HTTP_Request_configuration" 
                              url="${oauth.auth0.token_endpoint}">
                    <http:headers><![CDATA[#[{
                        "Content-Type": "application/x-www-form-urlencoded",
                        "Accept": "application/json"
                    }]]]></http:headers>
                </http:request>
                
                <!-- Process token response -->
                <choice doc:name="Check Token Response" doc:id="check-token-response">
                    <when expression="#[attributes.statusCode >= 200 and attributes.statusCode &lt; 300]">
                        <ee:transform doc:name="Extract Tokens" doc:id="extract-tokens">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    access_token: payload.access_token,
    id_token: payload.id_token,
    token_type: payload.token_type default "Bearer",
    expires_in: payload.expires_in,
    scope: payload.scope default ""
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        
                        <logger level="INFO" doc:name="Log Token Success" 
                                doc:id="log-token-success" 
                                message="Token exchange successful - Access token length: #[sizeOf(payload.access_token)], ID token present: #[!isEmpty(payload.id_token)]" 
                                category="OAuth.Success"/>
                        
                        <try doc:name="Load pending consent from object store" doc:id="load-pending-consent">
                            <os:retrieve doc:name="Retrieve pending consent" doc:id="retrieve-pending-consent" objectStore="oauth_object_store" key='#[%dw 2.0 var parts = (attributes.queryParams.state default "") splitBy "__OB__" --- if (sizeOf(parts) &gt; 0) "ob_oauth_pending__" ++ parts[sizeOf(parts) - 1] else "ob_oauth_pending__invalid"]' target="oauthPending" />
                            <error-handler>
                                <on-error-continue enableNotifications="false" logException="false" doc:name="No pending record" doc:id="no-pending-consent" type="ANY">
                                    <set-variable value="#[null]" variableName="oauthPending" doc:name="Clear pending var" doc:id="clear-pending-var" />
                                </on-error-continue>
                            </error-handler>
                        </try>
                        
                        <!-- Merge tokens + pre-Auth0 consent metadata + optional Auth0 scope string into one session document -->
                        <ee:transform doc:name="Prepare Token Storage" doc:id="prepare-token-storage">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
fun fdxHuman(code) =
    if (upper(code as String) == "ACCOUNT_BASIC") "Account balances"
    else if (upper(code as String) == "TRANSACTIONS") "Transactions"
    else if (upper(code as String) == "CUSTOMER_CONTACT") "Contact details"
    else code as String
fun bankBrandKey(b) = do {
    var u = upper(trim(b as String default ""))
    ---
    if (u == "RBC" or contains(u, "ROYAL")) "rbc"
    else if (u == "BMO" or contains(u, "BANK OF MONTREAL") or contains(u, "BMO")) "bmo"
    else if (u == "TD" or contains(u, "TD") or endsWith(u, "TD") or startsWith(u, "TD")) "td"
    else if (contains(u, "SCOTIA") or u == "SCO") "scotia"
    else if (u == "CIBC" or startsWith(u, "CIB")) "cibc"
    else "default"
}
fun bankDisplayNameFrom(b, k) =
    if (k == "rbc") "Royal Bank of Canada"
    else if (k == "bmo") "BMO"
    else if (k == "td") "TD Canada Trust"
    else if (k == "scotia") "Scotiabank"
    else if (k == "cibc") "CIBC"
    else b default "External bank"
var currentTime = now()
var sec = (payload.expires_in default 3600) as Number
var expiresAt = currentTime + (("PT" ++ (sec as String) ++ "S") as Period)
var stateRaw = attributes.queryParams.state default ""
var stateParts = stateRaw splitBy "__OB__"
var fallbackBank = if (sizeOf(stateParts) > 0) trim(stateParts[0] as String) else ""
var fallbackScopesCsv = if (sizeOf(stateParts) > 1) stateParts[1] else ""
var fallbackTech = (fallbackScopesCsv splitBy ",") map trim($) filter (!isEmpty($))
var pIn = vars.oauthPending
var p = if (pIn == null) {} else pIn
var hasPendingBank = !isEmpty(p.bankName default "")
var tokenScopeParts = (payload.scope default "") splitBy " " map trim($) filter (!isEmpty($))
var fdxCodes = ["ACCOUNT_BASIC", "TRANSACTIONS", "CUSTOMER_CONTACT"]
var tokenFdx = tokenScopeParts filter ((t) -> contains(fdxCodes, upper(t)))
var techFromPending = p.scopesTechnical default []
var techBase = if (!isEmpty(techFromPending)) techFromPending else fallbackTech
var mergedTech = (techBase ++ tokenFdx) distinctBy ((x) -> upper(x as String))
var mergedHuman = mergedTech map fdxHuman($)
var bankName = if (hasPendingBank) (p.bankName as String) else (if (!isEmpty(fallbackBank)) fallbackBank else "External bank")
var pendingBrandRaw = trim(p.bankBrand default "")
var bankBrand = if (!isEmpty(pendingBrandRaw) and lower(pendingBrandRaw) != "default") (p.bankBrand as String) else bankBrandKey(bankName)
var bankDisplayName = if (!isEmpty(p.bankDisplayName default "")) (p.bankDisplayName as String) else bankDisplayNameFrom(bankName, bankBrand)
var scopesCsv = mergedTech joinBy ","
---
{
    access_token: payload.access_token,
    id_token: payload.id_token,
    token_type: payload.token_type default "Bearer",
    expires_in: payload.expires_in,
    expires_at: expiresAt as String,
    stored_at: currentTime as String,
    session_id: "oauth_session_" ++ uuid(),
    bankName: bankName,
    bankDisplayName: bankDisplayName,
    bankBrand: bankBrand,
    requested_scopes: scopesCsv,
    scopes_technical: mergedTech,
    scopes_human: mergedHuman,
    oauth_grant_scope: payload.scope default "",
    consent_created_at: p.createdAt default ""
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        
                        <set-variable value="#[payload]" variableName="oauthTokens" doc:name="Store OAuth Tokens in Memory" doc:id="store-oauth-tokens-memory"/>
                        
                        <os:store doc:name="Persist OAuth session" doc:id="persist-oauth-os" objectStore="oauth_object_store" key="ob_oauth_session">
                            <os:value><![CDATA[#[vars.oauthTokens]]]></os:value>
                        </os:store>
                        
                        <try doc:name="Remove pending consent key" doc:id="remove-pending-consent">
                            <os:remove doc:name="Delete pending consent" doc:id="delete-pending-consent" objectStore="oauth_object_store" key='#[%dw 2.0 var parts = (attributes.queryParams.state default "") splitBy "__OB__" --- if (sizeOf(parts) &gt; 0) "ob_oauth_pending__" ++ parts[sizeOf(parts) - 1] else "ob_oauth_pending__invalid"]' />
                            <error-handler>
                                <on-error-continue enableNotifications="false" logException="false" doc:name="Ignore pending delete" doc:id="ignore-pending-delete" type="ANY" />
                            </error-handler>
                        </try>
                        
                        <logger level="INFO" doc:name="Log Token Storage" 
                                doc:id="log-token-storage" 
                                message="OAuth tokens stored successfully in memory with session ID: #[payload.session_id], expires at: #[payload.expires_at]" 
                                category="OAuth.TokenStorage"/>
                        
                        <!-- Redirect to frontend success page (bank/scopes from merged session, not opaque state) -->
                        <ee:transform doc:name="Set Success Redirect" doc:id="set-success-redirect">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/java
import * from dw::core::URL
var s = vars.oauthTokens
var bankName = s.bankName default "Bank"
var scopesCsv = s.requested_scopes default ""
---
{
    redirectLocation: "${frontend.base_url}/?status=success&bank=" ++ encodeURIComponent(bankName as String) ++ "&scopes=" ++ encodeURIComponent(scopesCsv as String),
    httpStatus: 302
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        <set-variable value="#[payload.redirectLocation]" variableName="redirectLocation" doc:name="Store Success Redirect" doc:id="store-success-redirect"/>
                        <set-variable value="#[payload.httpStatus]" variableName="httpStatus" doc:name="Store 302 Status" doc:id="store-302-status-success"/>
                        <set-payload value="" doc:name="Clear Payload for Redirect" doc:id="clear-payload-success"/>
                    </when>
                    <otherwise>
                        <logger level="ERROR" doc:name="Log Token Error" 
                                doc:id="log-token-error" 
                                message="Token exchange failed with status: #[attributes.statusCode], response: #[payload]" 
                                category="OAuth.Error"/>
                        
                        <ee:transform doc:name="Set Token Error Redirect" doc:id="set-token-error-redirect">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    redirectLocation: "${frontend.base_url}" ++ "${frontend.error_redirect_path}" ++ "&error=token_exchange_failed",
    httpStatus: 302
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        <set-variable value="#[payload.redirectLocation]" variableName="redirectLocation" doc:name="Store Token Error Redirect" doc:id="store-token-error-redirect"/>
                        <set-variable value="#[payload.httpStatus]" variableName="httpStatus" doc:name="Store 302 Status" doc:id="store-302-status-token-error"/>
                        <set-payload value="" doc:name="Clear Payload" doc:id="clear-payload-token-error"/>
                    </otherwise>
                </choice>
            </otherwise>
        </choice>
        
        <error-handler>
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="oauth-callback-error-handler" type="ANY">
                <logger level="ERROR" doc:name="Log Callback Error" doc:id="log-callback-error" message="Error in OAuth callback flow: #[error.description]" category="OAuth.Error"/>
                <ee:transform doc:name="Set Internal Error Redirect" doc:id="set-internal-error-redirect">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    redirectLocation: "${frontend.base_url}" ++ "${frontend.error_redirect_path}" ++ "&error=internal_error",
    httpStatus: 302
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable value="#[payload.redirectLocation]" variableName="redirectLocation" doc:name="Store Internal Error Redirect" doc:id="store-internal-error-redirect"/>
                <set-variable value="#[payload.httpStatus]" variableName="httpStatus" doc:name="Store 302 Status" doc:id="store-302-status-internal-error"/>
                <set-payload value="" doc:name="Clear Payload" doc:id="clear-payload-internal-error"/>
            </on-error-continue>
        </error-handler>
    </flow>
    
    <!-- Utility Sub-Flow to Retrieve Stored OAuth Tokens -->
    <sub-flow name="get-oauth-tokens-subflow" doc:id="get-oauth-tokens-subflow">
        <logger level="DEBUG" doc:name="Log Token Retrieval Request" 
                doc:id="log-token-retrieval" 
                message="Attempting to retrieve stored OAuth tokens from object store" 
                category="OAuth.TokenRetrieval"/>
        
        <try doc:name="Hydrate OAuth from object store" doc:id="hydrate-oauth-os">
            <os:retrieve doc:name="Retrieve OAuth session" doc:id="retrieve-oauth-os" objectStore="oauth_object_store" key="ob_oauth_session" target="oauthTokensRecovered" />
            <set-variable value="#[vars.oauthTokensRecovered]" variableName="oauthTokens" doc:name="Apply stored tokens to event" doc:id="apply-stored-oauth" />
            <error-handler>
                <on-error-continue enableNotifications="false" logException="false" doc:name="No session in store" doc:id="no-oauth-in-store" type="ANY">
                    <logger level="DEBUG" doc:name="OAuth store miss" doc:id="oauth-store-miss" message="No OAuth session in object store (or retrieve error): #[error.errorType]" category="OAuth.TokenRetrieval" />
                </on-error-continue>
            </error-handler>
        </try>
        
        <choice doc:name="Check Token Availability" doc:id="check-token-availability">
            <when expression="#[vars.oauthTokens != null]">
                <!-- Check if tokens are still valid (not expired) -->
                <ee:transform doc:name="Validate Token Expiry" doc:id="validate-token-expiry">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var currentTime = now()
var tokenExpiresAt = vars.oauthTokens.expires_at as DateTime
var isExpired = currentTime > tokenExpiresAt
---
{
    tokens: vars.oauthTokens,
    isExpired: isExpired,
    currentTime: currentTime as String,
    expiresAt: tokenExpiresAt as String
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                
                <choice doc:name="Check Token Expiry" doc:id="check-token-expiry">
                    <when expression="#[payload.isExpired]">
                        <logger level="WARN" doc:name="Log Expired Tokens" 
                                doc:id="log-expired-tokens" 
                                message="OAuth tokens have expired. Current time: #[payload.currentTime], Token expired at: #[payload.expiresAt]" 
                                category="OAuth.TokenExpiry"/>
                        
                        <ee:transform doc:name="Set Expired Token Response" doc:id="set-expired-token-response">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "token_expired",
    "error_description": "OAuth tokens have expired. Please re-authenticate.",
    "expired_at": payload.expiresAt
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                    </when>
                    <otherwise>
                        <logger level="DEBUG" doc:name="Log Valid Tokens" 
                                doc:id="log-valid-tokens" 
                                message="OAuth tokens are valid and available. Session ID: #[payload.tokens.session_id]" 
                                category="OAuth.TokenRetrieval"/>
                        
                        <ee:transform doc:name="Return Valid Tokens" doc:id="return-valid-tokens">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "success": true,
    "tokens": {
        access_token: payload.tokens.access_token,
        id_token: payload.tokens.id_token,
        token_type: payload.tokens.token_type,
        expires_at: payload.tokens.expires_at,
        session_id: payload.tokens.session_id
    }
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <logger level="WARN" doc:name="Log No Tokens" 
                        doc:id="log-no-tokens" 
                        message="No OAuth tokens found in memory. User needs to authenticate first." 
                        category="OAuth.TokenRetrieval"/>
                
                <ee:transform doc:name="Set No Tokens Response" doc:id="set-no-tokens-response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "no_tokens",
    "error_description": "No OAuth tokens found. Please authenticate first by connecting your bank account."
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- Expose OAuth session to UI (after redirect); browser saves to localStorage -->
    <sub-flow name="oauth-session-api-subflow" doc:id="oauth-session-api-subflow">
        <try doc:name="Read session for API" doc:id="read-session-api">
            <os:retrieve doc:name="Retrieve session" doc:id="retrieve-for-session-api" objectStore="oauth_object_store" key="ob_oauth_session" target="sess" />
            <ee:transform doc:name="Session response body" doc:id="session-response-body">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
fun bankBrandKey(b) = do {
    var u = upper(trim(b as String default ""))
    ---
    if (u == "RBC" or contains(u, "ROYAL")) "rbc"
    else if (u == "BMO" or contains(u, "BANK OF MONTREAL") or contains(u, "BMO")) "bmo"
    else if (u == "TD" or contains(u, "TD") or endsWith(u, "TD") or startsWith(u, "TD")) "td"
    else if (contains(u, "SCOTIA") or u == "SCO") "scotia"
    else if (u == "CIBC" or startsWith(u, "CIB")) "cibc"
    else "default"
}
var s = vars.sess
var at = s.access_token default ""
var dotParts = at splitBy "."
var looksLikeJwt = sizeOf(dotParts filter (!isEmpty($))) == 3
var rawBrand = trim(s.bankBrand default "")
var bankBrandOut = if (!isEmpty(rawBrand) and lower(rawBrand) != "default") rawBrand else bankBrandKey(s.bankName default "")
---
{
    access_token: s.access_token,
    id_token: s.id_token,
    token_type: s.token_type default "Bearer",
    expires_at: s.expires_at,
    session_id: s.session_id,
    bankName: s.bankName,
    bankDisplayName: s.bankDisplayName default s.bankName,
    bankBrand: bankBrandOut,
    requested_scopes: s.requested_scopes,
    scopes_technical: s.scopes_technical default [],
    scopes_human: s.scopes_human default [],
    access_token_format: if (looksLikeJwt) "jwt" else "opaque"
}]]></ee:set-payload>
                </ee:message>
                <ee:variables>
                    <ee:set-variable variableName="httpStatus"><![CDATA[200]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true" doc:name="No OAuth session" doc:id="no-session-api" type="ANY">
                    <ee:transform doc:name="Session not found response" doc:id="session-not-found">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": "no_session",
    "error_description": "No OAuth session on server. Connect your bank or clear completed flow."
}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

    <sub-flow name="oauth-disconnect-api-subflow" doc:id="oauth-disconnect-api-subflow">
        <try doc:name="Remove OAuth session" doc:id="remove-oauth-disconnect">
            <os:remove doc:name="Remove OAuth key" doc:id="remove-oauth-key" objectStore="oauth_object_store" key="ob_oauth_session" />
            <error-handler>
                <on-error-continue enableNotifications="false" logException="false" doc:name="Idempotent remove" doc:id="idempotent-oauth-remove" type="ANY" />
            </error-handler>
        </try>
        <ee:transform doc:name="Disconnect OK" doc:id="disconnect-ok">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "status": "success",
    "message": "External bank connection removed. You can connect again anytime.",
    "timestamp": now()
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[200]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>

    <flow name="oauth-session-http-flow" doc:id="oauth-session-http-flow">
        <http:listener doc:name="GET /api/oauth/session" doc:id="oauth-session-listener" config-ref="HTTP_Listener_config" path="/api/oauth/session" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]" />
        </http:listener>
        <flow-ref doc:name="OAuth session API" name="oauth-session-api-subflow"/>
    </flow>

    <flow name="oauth-disconnect-http-flow" doc:id="oauth-disconnect-http-flow">
        <http:listener doc:name="POST /api/oauth/disconnect" doc:id="oauth-disconnect-listener" config-ref="HTTP_Listener_config" path="/api/oauth/disconnect" allowedMethods="POST">
            <http:response statusCode="#[vars.httpStatus default 200]" />
        </http:listener>
        <flow-ref doc:name="OAuth disconnect API" name="oauth-disconnect-api-subflow"/>
    </flow>
</mule>
