src/main/mule/td-proxy-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!--
        TD Resource Server Proxy (FDX paths)
        =====================================
        Browser calls BMO at /api/td/*; BMO loads the access_token from Object Store and forwards
        to the TD implementation at ${td.resource_server.base_url}/fdx/v6/... (set in application.properties).
    -->

    <!-- Shared sub-flow: retrieve access_token from Object Store and set it as a variable -->
    <sub-flow name="load-td-access-token-subflow" doc:id="load-td-access-token">
        <try doc:name="Load token from OS" doc:id="load-token-os">
            <os:retrieve doc:name="Retrieve OAuth session" doc:id="proxy-retrieve-session"
                         objectStore="oauth_object_store" key="ob_oauth_session" target="oauthSession" />
            <set-variable value="#[vars.oauthSession.access_token]" variableName="tdAccessToken"
                          doc:name="Extract access_token" doc:id="extract-td-token" />
            <error-handler>
                <on-error-continue enableNotifications="false" logException="false"
                                   doc:name="No session" doc:id="proxy-no-session" type="ANY">
                    <set-variable value="" variableName="tdAccessToken" doc:name="Clear token var" />
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

    <!--
        GET /api/td/accounts  →  forward to TD at /fdx/v6/accounts
    -->
    <flow name="td-proxy-accounts-flow" doc:id="td-proxy-accounts-flow">
        <http:listener doc:name="GET /api/td/accounts" doc:id="proxy-accounts-listener"
                       config-ref="HTTP_Listener_config"
                       path="/api/td/accounts"
                       allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.responseHeaders default {"Content-Type": "application/json"}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 502]">
                <http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
            </http:error-response>
        </http:listener>

        <flow-ref doc:name="Load TD access token" name="load-td-access-token-subflow" />

        <choice doc:name="Token available?" doc:id="check-td-token-accounts">
            <when expression="#[isEmpty(vars.tdAccessToken)]">
                <set-variable value="401" variableName="httpStatus" doc:name="Set 401" />
                <ee:transform doc:name="No token response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    code: "401",
    message: "No active external bank connection. Please connect your TD account first."
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Proxying to TD /fdx/v6/accounts"
                        message='#["Proxying GET /api/td/accounts → /fdx/v6/accounts with token length: " ++ sizeOf(vars.tdAccessToken)]'
                        category="TD.Proxy" />

                <try doc:name="Forward to TD" doc:id="forward-td-accounts">
                    <http:request method="GET" doc:name="Call TD /fdx/v6/accounts"
                                  config-ref="HTTP_Request_configuration"
                                  url="#[p('td.resource_server.base_url') ++ '/fdx/v6/accounts']">
                        <http:headers><![CDATA[#[{
                            "Authorization": "Bearer " ++ vars.tdAccessToken,
                            "Accept": "application/json",
                            "x-fapi-interaction-id": uuid()
                        }]]]></http:headers>
                    </http:request>

                    <set-variable value="#[attributes.statusCode]" variableName="httpStatus" doc:name="Mirror status code" />
                    <set-variable value="#[attributes.headers]" variableName="responseHeaders" doc:name="Mirror headers" />

                    <error-handler>
                        <on-error-continue enableNotifications="true" logException="true"
                                           doc:name="TD unreachable" doc:id="td-accounts-unreachable" type="ANY">
                            <set-variable value="502" variableName="httpStatus" doc:name="Set 502" />
                            <ee:transform doc:name="Gateway error">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    code: "502",
    message: "TD resource server unreachable. Check td.resource_server.base_url and TD app health."
}]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </flow>

    <!--
        GET /api/td/accounts/{accountId}/transactions  →  forward to TD at /fdx/v6/accounts/{accountId}/transactions
    -->
    <flow name="td-proxy-transactions-flow" doc:id="td-proxy-transactions-flow">
        <http:listener doc:name="GET /api/td/accounts/*/transactions" doc:id="proxy-txn-listener"
                       config-ref="HTTP_Listener_config"
                       path="/api/td/accounts/*/transactions"
                       allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.responseHeaders default {"Content-Type": "application/json"}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 502]">
                <http:headers><![CDATA[#[{"Content-Type": "application/json"}]]]></http:headers>
            </http:error-response>
        </http:listener>

        <!-- Extract accountId from the browser-facing path -->
        <set-variable value="#[attributes.requestPath replace '/api/td/accounts/' with '' replace '/transactions' with '']"
                      variableName="accountId" doc:name="Extract accountId from path" />

        <flow-ref doc:name="Load TD access token" name="load-td-access-token-subflow" />

        <choice doc:name="Token available?" doc:id="check-td-token-txn">
            <when expression="#[isEmpty(vars.tdAccessToken)]">
                <set-variable value="401" variableName="httpStatus" doc:name="Set 401" />
                <ee:transform doc:name="No token response">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    code: "401",
    message: "No active external bank connection. Please connect your TD account first."
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Proxying to TD /fdx/v6/accounts/*/transactions"
                        message='#["Proxying GET → /fdx/v6/accounts/" ++ vars.accountId ++ "/transactions with token length: " ++ sizeOf(vars.tdAccessToken)]'
                        category="TD.Proxy" />

                <try doc:name="Forward to TD" doc:id="forward-td-txn">
                    <http:request method="GET" doc:name="Call TD /fdx/v6/accounts/{accountId}/transactions"
                                  config-ref="HTTP_Request_configuration"
                                  url='#[p("td.resource_server.base_url") ++ "/fdx/v6/accounts/" ++ vars.accountId ++ "/transactions"]'>
                        <http:headers><![CDATA[#[{
                            "Authorization": "Bearer " ++ vars.tdAccessToken,
                            "Accept": "application/json",
                            "x-fapi-interaction-id": uuid()
                        }]]]></http:headers>
                    </http:request>

                    <set-variable value="#[attributes.statusCode]" variableName="httpStatus" doc:name="Mirror status code" />
                    <set-variable value="#[attributes.headers]" variableName="responseHeaders" doc:name="Mirror headers" />

                    <error-handler>
                        <on-error-continue enableNotifications="true" logException="true"
                                           doc:name="TD unreachable" doc:id="td-txn-unreachable" type="ANY">
                            <set-variable value="502" variableName="httpStatus" doc:name="Set 502" />
                            <ee:transform doc:name="Gateway error">
                                <ee:message>
                                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    code: "502",
    message: "TD resource server unreachable. Check td.resource_server.base_url and TD app health."
}]]></ee:set-payload>
                                </ee:message>
                            </ee:transform>
                        </on-error-continue>
                    </error-handler>
                </try>
            </otherwise>
        </choice>
    </flow>

</mule>
